<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <!--<link rel="stylesheet" href= "{{ url_for('static', filename = 'assets/demo.css') }}" >-->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/sidebar-left.css') }}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/sweetalert.css') }}"/>
    {% block more_css %}{% endblock %}

</head>

<body>

<aside class="sidebar-left">
    <!--<div class="thumbnail"><a class="company-logo" href="#">Logo</a></div>-->
    <a class="company-logo" href="#">Logo</a>

    <div class="sidebar-links">
        <a class="link-blue " href="/"><i class="fa fa-tachometer"></i>Overview</a>
        <a class="link-red" href="/learners"><i class="fa fa-users"></i>Learners</a>
        <a class="link-yellow" href="/courses/0"><i class="fa fa-book"></i>Courses</a>
        <a class="link-green" onclick="logout()" style="  position: absolute;
                                                bottom: 0;
                                                width: 98%;
                                                height: 100px; "><i class="fa fa-sign-out"></i>Sign out</a>
    </div>

</aside>

<div class="main-content">
    {% block content %}{% endblock %}
</div>
<div id="fade" class="black_overlay"></div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{url_for('static', filename = 'js/sweetalert.min.js') }}"></script>
<script>
    var logout = function () {
        swal({
                    title: "Log out",
                    text: "Are you sure you want to log out?",
                    type: "warning",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                function (isConfirm) {
                    if (isConfirm) {

                        $.ajax({
                            url: "/logout",
                            context: document.body
                        }).done(function () {
                            swal({
                                        title: "You have been logged out",
                                        type: "success",
                                        confirmButtonText: "Okay",
                                        closeOnConfirm: false,
                                        closeOnCancel: false
                                    },
                                    function (isConfirm) {
                                        if (isConfirm) {
                                            window.location.replace("/login");
                                        }
                                    });
                        });

                    }
                });
    }
</script>
{% block more_js %}{% endblock %}


</body>

</html>
