{% extends "base_platform.html" %}
{% block title %} Courses {% endblock %}
{% block more_css %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/tab_view.css') }}">
<!--<link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">-->
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">

<link rel="stylesheet" href="{{ url_for('static', filename = 'css/community.css') }}">
{% endblock %}
{% block content %}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{name}}</h1>
    </div>
</div><!--/.row-->

<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="panel panel-blue panel-widget ">
            <div class="row no-padding">
                <div class="col-sm-3 col-lg-5 widget-left">
                    <svg class="glyph stroked calendar">
                        <use xlink:href="#stroked-calendar"></use>
                    </svg>
                </div>
                <div class="col-sm-9 col-lg-7 widget-right">
                    <div class="large">7</div>
                    <div class="text-muted">Weeks</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="panel panel-orange panel-widget">
            <div class="row no-padding">
                <div class="col-sm-3 col-lg-5 widget-left">
                    <svg class="glyph stroked male-user">
                        <use xlink:href="#stroked-male-user"></use>
                    </svg>
                </div>
                <div class="col-sm-9 col-lg-7 widget-right">
                    <div class="large">{{no_of_students}}</div>
                    <div class="text-muted">Students</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="panel panel-teal panel-widget">
            <div class="row no-padding">
                <div class="col-sm-3 col-lg-5 widget-left">
                    <svg class="glyph stroked pencil">
                        <use xlink:href="#stroked-pencil"></use>
                    </svg>
                </div>
                <div class="col-sm-9 col-lg-7 widget-right">
                    <div class="large">{{no_of_assignments}}</div>
                    <div class="text-muted">Assignments</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="panel panel-red panel-widget">
            <div class="row no-padding">
                <div class="col-sm-3 col-lg-5 widget-left">

                    <svg class="glyph stroked video">
                        <use xlink:href="#stroked-video"></use>
                    </svg>
                </div>
                <div class="col-sm-9 col-lg-7 widget-right">
                    <div class="large">{{no_of_videos}}</div>
                    <div class="text-muted">Videos</div>
                </div>
            </div>
        </div>
    </div>
</div><!--/.row-->
<ul id="nav" class="css-tabs">
    <li><a id="tab1" href="/csv">Tab 1</a></li>
    <li><a id="tab2" href="/forum">Forum</a></li>
    <li><a id="tab3" href="/course/dropout">Dropouts</a></li>
    <li><a id="tab4" href="/community">Communities</a></li>
</ul>

<!-- single pane. it is always visible -->
<div id="ajax-content" class="css-panes">
    <div style="display:block"></div>
</div>
{% endblock %}
{% block more_js %}
<script src="{{ url_for('static', filename = 'js/lumino.glyphs.js') }}"></script>
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!--forum js files-->
<script src="{{ url_for('static', filename = 'js/fusioncharts/fusioncharts.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/fusioncharts/themes/fusioncharts.theme.fint.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/forum.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/community.js') }}"></script>
<!--end of forum js files-->
<!--community network js files-->
<script type="text/javascript" src="http://d3js.org/d3.v2.min.js?2.9.3"></script>
<!--end of community network js files-->
<script>

    var course_id = 0;

    $(document).ready(function () {
        $("#nav li a").click(function () {

            $("#ajax-content").empty();
            $("#nav li a").removeClass('current');
            $(this).addClass('current');

            $.ajax({
                url: this.href + "/" + course_id,
                success: function (html) {
                    $("#ajax-content").empty().append(html);
                    if ($("#nav li a.current").attr('id') === "tab2") {
                        displayForumScore();
                    }
                    else if ($("#nav li a.current").attr('id') === "tab3") {
                        $('#myTable').dataTable();
                    }
                    else if ($("#nav li a.current").attr('id') === "tab4") {
                        loadCommunityGraph();
                    }


                },
                error: function (error) {
                    alert("error");
                }
            });
            return false;
        });

        $("#ajax-content").empty();
        $.ajax({
            url: '/csv/0', success: function (html) {
                $("#ajax-content").empty().append(html);
                $("#nav li a").first().addClass('current');

            }
        });
    });


</script>
<script>
    $(function () {
        $('.sidebar-links > a.link-yellow').addClass('selected');
    });
    var displayLearners = function (userID) {
        $.ajax({
            url: "/user_profile/" + userID, success: function (result) {
                $('#fade').html(result);
                document.getElementById('learner').style.display = 'block';
                document.getElementById('fade').style.display = 'block';
            }
        });
    }
</script>
{% endblock %}