{% extends "base_platform.html" %}
{% block title %} Enrolled Users {% endblock %}
{% block more_css %}
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/leaner_style.css') }}">

{% endblock %}
{% block content %}
<div class="container">
    <div class="row header" style="text-align:center">
        <h1>Learner Personas</h1>
    </div>
    <div class="row " style="text-align:center">
        <h4 style="    margin-bottom: 30px; color: darkgray">20030 total records</h4>
    </div>


    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    <h4>Students in current courses : 13000</h4>
                    <div class="easypiechart" id="easypiechart-blue" data-percent="67"><span class="percent">67%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    <h4>Isolated Students : 6000</h4>
                    <div class="easypiechart" id="easypiechart-teal" data-percent="45"><span class="percent">45%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    <h4>Students at Risk : 5400</h4>
                    <div class="easypiechart" id="easypiechart-red" data-percent="37"><span class="percent">37%</span>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->
    <div id='search-box'>
        <form action='/search' id='search-form' method='get' target='_top'>
            <input id='search-text' name='query' placeholder='Search for a learner persona by name' type='text'/>
            <button id='search-button' type='submit'>
                <span>Search</span>
            </button>
        </form>
    </div>


    <div id="ajax-search-result"></div>

</div>
{% endblock %}
{% block more_js %}
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename = 'js/community.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/easypiechart.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/easypiechart-data.js') }}"></script>

<script>
    //    $(document).ready(function () {
    //        $('#myTable').dataTable();
    //    });

    $('form').on('submit', function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            cache: true,
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (data) {
                $("#ajax-search-result").empty().append(data).css('visibility', 'visible');
//                $('#myTable').dataTable();
                var table = $('#myTable').DataTable({
                   "dom": '<"top"i>rt<"bottom"lp><"clear">'

                });
            }
        });

    });
</script>

<script>
    $(function () {
        $('.sidebar-links > a.link-red').addClass('selected');
    });

    var displayLearners = function (userID) {
        $.ajax({
            url: "/user_profile/" + userID, success: function (result) {
                $('#fade').html(result);
                document.getElementById('learner').style.display = 'block';
                document.getElementById('fade').style.display = 'block';
            }
        });
    }
</script>
{% endblock %}