<div id="learner" class="white_content" style="display: block;">
    <div class="learner-name">
        <h3 style="color: white">{{name}}</h3>

        <div>
            <h5 style="color: #f3f5f9">{{year_of_birth}}, {{gender}}</h5>
        </div>
    </div>
    <div style="text-align: center; margin-bottom: 40px">
            <h5 style="color: #989494"><i class="fa fa-graduation-cap" aria-hidden="true"></i>  {{level_of_education}}</h5>
            <h5 style="color: #989494"><i class="fa fa-globe" aria-hidden="true"></i>  {{location}}</h5>

    </div>
    <!--<h4>{{location}}</h4>-->
    <div>
        <b><p>Enrolled Courses</p></b>
    </div>

    {% for n in course_list %}
    <div>
        <h5 style="    background: #99b1b0;    color: aliceblue;    padding: 10px;">{{n.course_name}}</h5>
    </div>
    <div class="row" style="
    padding-left: 20px;
    padding-right: 20px;
">
        <div class="course_info col-xs-12 col-md-12 col-lg-12">

            <p data-toggle="tooltip" data-placement="top" title="A value between 0 and 100.">Predicted performance : {{n.performance*100}}%</p>
        </div>
        <div class="course_info col-xs-12 col-md-12 col-lg-12">

            <p data-toggle="tooltip" data-placement="top" title="A calculated score between 0 and 1 , to indicate learner forum interaction ">Forum score : {{n.forum_score}}</p>
        </div>
        <div class="course_info col-xs-12 col-md-12 col-lg-12">

            <p data-toggle="tooltip" data-placement="top" title="Has been predicted by analysing learner interaction with the course materials and quiz performance">Predicted dropout status  : {{n.dropout}}</p>
        </div>

    </div>

    {%- endfor %}

    <a href="javascript:void(0)"
       onclick="document.getElementById('learner').style.display='none';document.getElementById('fade').style.display='none'"
       style="
    position: fixed;
    right: 450px;
    bottom: 120px;
">Close</a>
</div>