<div id="learner" class="white_content" style="display: block;">
    <div class="learner-name">
        <h2 style="color: white">{{name}}</h2>
    </div>
    <div>
        <h4 style="color: #989494">{{level_of_education}}</h4>
    </div>
    <div>
        <h5 style="color: #989eb1">{{year_of_birth}}, {{gender}}</h5>
    </div>
    <!--<h4>{{location}}</h4>-->

    <div>
        <h3>Engineering, Summer 2014</h3>
    </div>
    <h4>{{performance*100}}</h4>
    <h4>{{forum_score}}</h4>
    <h4>{{dropout_status}}</h4>
    <a href="javascript:void(0)"
       onclick="document.getElementById('learner').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
</div>