<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Left Sidebar</title>

	<!--<link rel="stylesheet" href= "{{ url_for('static', filename = 'assets/demo.css') }}" >-->
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/sidebar-left.css') }}">

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

</head>

<body>

	<aside class="sidebar-left">
<!--<div class="thumbnail"><a class="company-logo" href="#">Logo</a></div>-->
		<a class="company-logo" href="#">Logo</a>

		<div class="sidebar-links">
			<a class="link-blue selected" href="#"><i class="fa fa-tachometer"></i>Overview</a>
			<a class="link-red" href="/learners"><i class="fa fa-users"></i>Learners</a>
			<a class="link-yellow" href="#"><i class="fa fa-book"></i>Courses</a>
			<a class="link-green" href="#"><i class="fa fa-cog"></i>Settings</a>
		</div>

	</aside>

	<div class="main-content">

<ul class="tabs" data-persist="true">
            <li><a href="#view1">Lorem</a></li>
            <li><a href="#view2">Using other templates</a></li>
            <li><a href="#view3">Advanced</a></li>
        </ul>
        <div class="tabcontents">
            <div id="view1">
                <b>Lorem Issum</b>
                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>

            </div>
            <div id="view2">
                <b>Switch to other templates</b>
                <p>Open this page with Notepad, and update the CSS link to:</P>
                <p>template1 ~ 6.</p>
            </div>
            <div id="view3">
                <b>Advanced</b>
                <p>If you expect a more feature-rich version of the tabber, you can use the advanced version of the script,
                    <a href="http://www.menucool.com/jquery-tabs">McTabs - jQuery Tabs</a>:</p>
                <ul>
                    <li>URL support: a hash id in the URL can select a tab</li>
                    <li>Bookmark support: select a tab via bookmark anchor</li>
                    <li>Select tabs by mouse over</li>
                    <li>Auto advance</li>
                    <li>Smooth transitional effect</li>
                    <li>Content can retrieved from other documents or pages through Ajax</li>
                    <li>... and more</li>
                </ul>
            </div>
        </div>


	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>

		$(function () {

			var links = $('.sidebar-links > a');

			links.on('click', function () {

				links.removeClass('selected');
				$(this).addClass('selected');

			})
		});

	</script>

</body>

</html>
