{% extends "base_platform.html" %}
{% block title %} Platform {% endblock %}
{% block more_css %}

<link rel="stylesheet" href="{{ url_for('static', filename = 'css/platform_overview_style.css') }}">
{% endblock %}
{% block content %}
<div>
    <div class="row">
        <h1 style="    color: black;">Your Courses</h1>
    </div>
</div>

{% for n in course_list %}
<div>
    <div class="row course-title">
        <h3>{{n.name}}</h3>
    </div>
    <div class=" row course_element">
        <div class="course_info col-xs-12 col-md-6 col-lg-4">
            <p>Number of students : {{n.no_of_students}}</p>
        </div>
        <div class="course_info col-xs-12 col-md-6 col-lg-4">
            <p>Number of Videos : {{n.no_of_videos}}</p>
        </div>
        <div class="course_info col-xs-12 col-md-6 col-lg-4">
            <p>Start Date: {{n.starting_date}}</p>
        </div>
        <div class="course_info col-xs-12 col-md-6 col-lg-4">
            <p style="    color: firebrick;">Students at Risk : {{n.students_at_risk}}</p>
        </div>
        <div class="course_info col-xs-12 col-md-6 col-lg-4">
            <p>Number of Assignments : {{n.no_of_assignments}}</p>
        </div>
        <div class="course_info col-xs-12 col-md-6 col-lg-4">
            <p>End Date : {{n.ending_date}}</p>
        </div>
        <div class="col-lg-12">
            <div>
                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                         aria-valuenow="{{n.completed_percentage}}"
                         aria-valuemin="0" aria-valuemax="100" style="width:{{n.completed_percentage}}%">
                        {{n.completed_percentage}}% Complete
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-12">
            <a style="float: right" href="/courses/{{n.id}}">View more details</a>
            </div>
    </div>
</div>
{%- endfor %}

{% endblock %}
{% block more_js %}

<script>
    $(function () {
        $('.sidebar-links > a.link-blue').addClass('selected');
    });
</script>
{% endblock %}