/*body {*/
    /*padding: 30px 80px;    */
    /*font-family: "Roboto", sans-serif;*/
/*}*/

a:active {
    outline: none
}

:focus {
    -moz-outline-style: none
}

ul.css-tabs {
    margin: 0!important;
    padding: 0;
    height: 43px;
    border-bottom: 1px solid #ccc;
}

ul.css-tabs li {
    float: left;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul.css-tabs a {
    float: left;
    font-size: 16px;
    display: block;
    padding: 9px 30px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-bottom: 0;
    height: 22px;
    background-color: #efefef;
    color: #777;
    margin-right: 2px;
    position: relative;
    top: 1px;
    outline: 0;
    box-sizing: content-box;
    border-bottom: 1px solid #ccc;
    -moz-border-radius: 4px 4px 0 0
}

ul.css-tabs a:hover {
    background-color: #f7f7f7;
    color: #333
}

ul.css-tabs a.current {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    color: #000;
    cursor: default
}

.css-panes div {
    border-width: 0 1px 1px 1px;
    /*min-height: 150px;*/
    /*padding: 15px 20px;*/
    background-color: #fff
}
#ajax-content{
    background: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 1px 0px rgba(68, 68, 68, 0.35);
}

#dropout-title{
    color: darkgoldenrod;
    padding: 20px;
}